<div class="lsw_nueva_feature">
    <lsw-typical-title>✨ Nueva feature en construcción</lsw-typical-title>
    <div class="pad_vertical_2">🚸 Esta sección está reservada para el desarrollo</div>
    <!--new-canvas-experiment-1 /-->
    <dgn-chat-homepage />
    <lsw-simple-chart 
        initial-property="altura"
        :initial-data="getRandomList1()"
    />
    <!--
    <lsw-chart-builder />
    <lsw-painter />
    <dgn-filesystem-homepage />
    <lsw-syntax-builder />
    <lsw-mermaid-viewer />
    <dgn-rest-homepage />
    <!--lsw-molecules-renderer :initial-source="false" /-->
    <!--lsw-equation-solver /-->
    <!--lsw-diario /-->
    <!--lsw-naty-script-editor /-->
    <!--lsw-test-context-viewer></lsw-test-context-viewer-->
    <!--lsw-spontaneous-table-nota />
    <lsw-wiki-articulos /-->
    <!--lsw-keyboard-1 initial-text="Esto es una frase\nEsto es otra\nY esto otra." /-->
    <!--lsw-sqlite-console /-->
    <!--lsw-sqlite-explorer /-->
</div>